// 1u is a 8px grid unit. 1u === 8px

.body
  border-radius: 1u
  background-color: white
  margin: 5u 2u
  max-height: 100%
  padding: 0 20px
.image
  border-radius: 10u
  margin: 1u
  border 1px solid black
.title
  font-size: 3u
  margin-bottom: 5u
.content
  margin-bottom: 5u
.contentBlock
  align-items: center
  text-align: center
  padding: 5u 5u
  border-bottom: 1px solid black
.statisticBlock
  text-align: center
  border-radius: 5u
  overflow: hidden
.statisticImage
  margin-top: 3u
.imageContainer
  align-items: center
  padding-bottom: 2u
.statisticContent
  padding 5u 0
  border-bottom: 1px solid black
.btn
  min-width: 300px