// 1u is a 8px grid unit. 1u === 8px
.header
    align-items: center
    text-align: center
    // border 1px solid black
.image
    margin 10u 0 2u 0
.title
    font-size: 5u
    margin-bottom: 2u
.content
    width 70%